@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.left-side {
  flex: 1;
  border-right: 1px solid #000;
  background-color: rgba(1, 1, 1, 0.2);
}

.left-side-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.15);
}

.left-side-header h1 {
  margin: 0;
}

button {
  background: none;
  cursor: pointer;
  color: #08c;
  border: none;
  margin-left: 10px;
  font-size: 16px;
}

button:hover {
  color: #04c;
}

.left-nav {
  display: flex;
}

.left-side-notes {
  height: calc(100vh - 70px);
  overflow-y: scroll;
}

.left-side-note {
  padding: 20px;
  cursor: pointer;
}

.left-side-note p {
  margin: 10px 0;
}

.left-side-note small {
  display: block;
  color: #999;
}

.left-side-note:hover {
  background-color: #dddddd;
  transition: all ease 0.3s;
}

.left-side-title {
  display: flex;
  justify-content: space-between;
}

.left-side-title button {
  color: rgb(221, 107, 135);
}

.left-side-title button:hover {
  color: rgb(223, 12, 75);
}

/* RIGHT SIDE - MAIN.JS */

.right-side {
  flex: 2;
  background-color: rgba(1, 1, 1, 0.3);
}

.right-side-note-edit {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.right-side-note-edit input {
  color: #000;
  font-size: 20px;
  padding: 10px;
  width: 100%;
  height: 40px;
}

.right-side-note-edit textarea {
  color: #000;
  font-size: 15px;
  padding: 10px;
  width: 100%;
  height: 300px;
}

/* SCROLL BAR */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
